DcmsWebService/wsdl/DCMSService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.server/" name="DCMSService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.server/" schemaLocation="DCMSService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="editRecord">
    <part name="parameters" element="tns:editRecord"/>
  </message>
  <message name="editRecordResponse">
    <part name="parameters" element="tns:editRecordResponse"/>
  </message>
  <message name="getRecordCounts">
    <part name="parameters" element="tns:getRecordCounts"/>
  </message>
  <message name="getRecordCountsResponse">
    <part name="parameters" element="tns:getRecordCountsResponse"/>
  </message>
  <message name="createSRecord">
    <part name="parameters" element="tns:createSRecord"/>
  </message>
  <message name="createSRecordResponse">
    <part name="parameters" element="tns:createSRecordResponse"/>
  </message>
  <message name="transferRecord">
    <part name="parameters" element="tns:transferRecord"/>
  </message>
  <message name="transferRecordResponse">
    <part name="parameters" element="tns:transferRecordResponse"/>
  </message>
  <message name="createTRecord">
    <part name="parameters" element="tns:createTRecord"/>
  </message>
  <message name="createTRecordResponse">
    <part name="parameters" element="tns:createTRecordResponse"/>
  </message>
  <portType name="DCMS">
    <operation name="editRecord">
      <input wsam:Action="http://service.server/DCMS/editRecordRequest" message="tns:editRecord"/>
      <output wsam:Action="http://service.server/DCMS/editRecordResponse" message="tns:editRecordResponse"/>
    </operation>
    <operation name="getRecordCounts">
      <input wsam:Action="http://service.server/DCMS/getRecordCountsRequest" message="tns:getRecordCounts"/>
      <output wsam:Action="http://service.server/DCMS/getRecordCountsResponse" message="tns:getRecordCountsResponse"/>
    </operation>
    <operation name="createSRecord">
      <input wsam:Action="http://service.server/DCMS/createSRecordRequest" message="tns:createSRecord"/>
      <output wsam:Action="http://service.server/DCMS/createSRecordResponse" message="tns:createSRecordResponse"/>
    </operation>
    <operation name="transferRecord">
      <input wsam:Action="http://service.server/DCMS/transferRecordRequest" message="tns:transferRecord"/>
      <output wsam:Action="http://service.server/DCMS/transferRecordResponse" message="tns:transferRecordResponse"/>
    </operation>
    <operation name="createTRecord">
      <input wsam:Action="http://service.server/DCMS/createTRecordRequest" message="tns:createTRecord"/>
      <output wsam:Action="http://service.server/DCMS/createTRecordResponse" message="tns:createTRecordResponse"/>
    </operation>
  </portType>
  <binding name="DCMSPortBinding" type="tns:DCMS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="editRecord">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getRecordCounts">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createSRecord">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="transferRecord">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createTRecord">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="DCMSService">
    <port name="DCMSPort" binding="tns:DCMSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

